<section>
  <h1>Hello <span class="aa--text-primary"></span>Friends!</h1>

  <p class="aa--text-xl">
    I'm <span class="aa--text-primary">Pranam Bhat</span>, thanks for visiting this repository!!!
  </p>

</section>

<section>
  <h2 class="aa--mb-4">Support 🙏</h2>

  <div class="aa--inline md:aa--flex">
    <a tuiButton appearance="secondary" href="https://github.com/PranamBhat/angular-auth" target="_blank"
      rel="noopener noreferrer" class="aa--mr-4 aa--mb-4">
      <fa-icon icon="star" class="aa--mr-2"></fa-icon>
      <span>Star</span>
    </a>
  </div>
</section>